<a href="https://colab.research.google.com/github/MichelaPascale/AI-Pokemon-Challenge/blob/main/Notebook_Preparazione.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Notebook di preparazione

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
dataset = pd.read_csv("combats.partial.csv")  #con colab non è necessario mettere ./

In [4]:
dataset

       Winner  First_pokemon  Second_pokemon
0         650            650             579
1         151            151             558
2         340            340             631
3         139            688             139
4         132            365             132
...       ...            ...             ...
39995     608            608             403
39996     149            761             149
39997     740            740             320
39998     465            465             536
39999     350            350             525

[40000 rows x 3 columns]

In [5]:
train, test = train_test_split(dataset, test_size = 0.2, random_state = 42)

In [6]:
train.to_csv('train.csv', index=False)
test.to_csv('test.csv', index=False)